name: Check Packages

on:
  push:
    branches-ignore:
      - main

jobs:
  lint_package:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - packages/prettier-config
          - packages/eslint-config
          - packages/tsconfig
          - packages/commit
    defaults:
      run:
        working-directory: ${{ matrix.package }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          path: .

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          registry-url: 'https://npm.pkg.github.com'
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        working-directory: .
        run: npm install

      - name: Lint project
        run: npm run lint

  test_package:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - prettier-config
          - eslint-config
          - tsconfig
    defaults:
      run:
        working-directory: ${{ matrix.package }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          path: .

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          registry-url: 'https://npm.pkg.github.com'
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        working-directory: .
        run: npm install

      - name: Test Prettier Config
        run: npm run test
