name: Publish Package

on:
  release:
    types: [released]

jobs:
  publish_dart:
    name: Publish Dart Package
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - directory: packages/onezero_flutter_hints
            build: false
    defaults:
      run:
        working-directory: ${{ matrix.package.directory }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          path: .

      - name: Publish package
        uses: ./actions/publish-dart-package
        with:
          auth: ${{ secrets.PUB_AUTH }}
          flutter: true
          version: ${{ github.ref_name }}
  publish_node:
    name: Publish Node Package
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - directory: packages/prettier-config
            build: false
          - directory: packages/eslint-config
            build: false
          - directory: packages/tsconfig
            build: false
          - directory: packages/commit
            build: true
    defaults:
      run:
        working-directory: ${{ matrix.package.directory }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          path: .

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          registry-url: 'https://npm.pkg.github.com'
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        working-directory: .
        run: npm install

      - name: Build
        if: ${{ matrix.package.build }}
        run: npm run build

      - name: Package Version
        run: npm version ${{ github.ref_name }} --no-git-tag-version

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
