name: Setup-Flutter Action

on:
  push:
    branches-ignore:
      - main

jobs:
  hello_world:
    name: Hello World Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          path: .

      - name: Setup Flutter
        uses: ./actions/setup-flutter

      - name: Check Dart
        run: |
          echo "main() { print('Hello World!'); }" > main.dart
          dart main.dart

      - name: Run Flutter Doctor
        run: flutter doctor
